<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
    <!--<link rel="stylesheet" type="text/css" href="../styles/main_stylesheet.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main_stylesheet.css') }}">
</head>
<body>
    <div class="container">
        <h1>Analyze your text</h1>
        <form action="" method="post" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
            <div>
                <label for="file-upload" class="custom-file-upload">
                    Upload a ''.txt' file
                </label>
                {{ form.upload_file(id="file-upload", style="display: none;") }}
                {% for error in form.upload_file.errors %}
                    <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div> <br />
            <div>
                {{ form.text.label }}<br>
                {{ form.text(size=32) }}<br>
                {% for error in form.text.errors %}
                <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.method.label }}<br>
                {{ form.method(class="form-select") }}<br>
                {% for error in form.method.errors %}
                <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </form>
        {% if form.answer.data %}
        <div class="result">
            <p><strong>Analysis Result:</strong> {{ form.answer.data }}</p>
        </div>
        {% endif %}
        <div id="plot_container" style="display: none;">
            <div class="loader"></div>
            <p>Loading plot...</p>
        </div>
        {% if form.plot.data %}
        <div id="plot_container">
            <img src="data:image/png;base64,{{ form.plot.data }}" alt="Emotions Plot">
        </div>
        {% endif %}
    </div>
</body>
</html>