<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>Analyze your text</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.text.label }}<br>
            {{ form.text(size=32) }}<br>
            {% for error in form.text.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% if form.answer.data %}
    <p>Analysis Result: {{ form.answer.data }}</p>
    {% endif %}
</body>
</html>